Package: com.ryannair05.Poseidon-Rounded
Name: Poseidon-Rounded
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: iPhone X gestures, buttons, dock, and app switcher.
Maintainer: Ryan Nair
Author: Ryan Nair
Section: Tweaks
